@import "root_style.css";
@import "navbar_style.css";
@import "home_page_style.css";
@import "footer_style.css";

.recipe-title {
    color: var(--color-eden);
}

.custom-h2 {
    color: var(--color-eden);
    font-weight: 600;
}

.dish-type {
    padding: 0.3rem 1.5rem;
    border: 1px solid var(--color-eden);
    border-radius: 2rem;
}

.vegetarian-dish {
    color: var(--color-eden);
    font-weight: 600;
}

.nutrition-card {
    background-color: var(--color-isabelline-light);
    padding: 0.8rem;
    border-radius: 1.5rem;
}

.card-amount {
    background-color: var(--color-white);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.ingredient-container {
    display: grid !important;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 4rem auto auto;
}

.custom-image {
    width: 4rem;
    height: 4rem;
}

.ingredient-measure {
    text-align: right;
}

.equipment-container {
    display: grid !important;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 4rem auto;
}

.step-title {
    font-weight: 600;
    color: var(--color-eden);
}

.pairing-wine-name {
    font-weight: 600;
}

.wine-div {
    background-color: var(--color-isabelline-light);
    padding: 0.3rem 1.5rem;
    border-radius: 2rem;
}
